/*===================================/
        CUSTOM CSS
/===================================*/

.centerBackground {
  background-image: url(images/slide_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px 400px;
}
.centerBackground2 {
  background-image: url(../images/vege.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.bg-white {
  background-color: #fff;
}

.pull-right {
  text-align: left;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

  .navbar-brand.logo-center {
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    position: absolute;
  }

}

.button-overlay-bg {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-unique-center {
  position: relative;
  left: -50%;
  text-align: center;
  padding: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .button-overlay-bg {
    display: none;
  }

  .heading-unique-center {
    left: 0;
    text-align: left;
  }
 }

/* Large devices (desktops, more than 992px) */
@media (min-width: 992px) {
  .pull-right {
    text-align: right;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .centerBackground2 {
    background-image: none;
  }
}
