/*===================================/
        CUSTOM CSS
/===================================*/

.centerBackground {
  background-image: url(images/slide_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px 400px;
}
.centerBackground2 {
  background-image: url(../images/vege.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.bg-white {
  background-color: #fff;
}

.pull-right {
  text-align: left;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

  .navbar-brand.logo-center {
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    position: absolute;
  }

}

.button-overlay-bg {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-unique-center {
  position: relative;
  left: -50%;
  text-align: center;
  padding: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .button-overlay-bg {
    display: none;
  }

  .heading-unique-center {
    left: 0;
    text-align: left;
  }
 }

/* Large devices (desktops, more than 992px) */
@media (min-width: 992px) {
  .pull-right {
    text-align: right;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
  .centerBackground2 {
    background-image: none;
  }
}

/*==== MINI BANNER ====*/

@media (max-width: 575.98px) {

  .container.mini-banner {
    padding: 0;
  }
 }

 .color-theme {
   background-color: #51ca6d;
 }

 .mini-banner-border-right {
    border-right: 0.5px solid #c3e6cb;
 }

 /*FONTS */

 .font-theme-color {
   color: #51ca6d;
 }

 .font-minibanner-sub-heading {
    font-weight: bold;
    font-size: smaller;
    color: #c3e6cb;
 }

 .no-decoration {
   text-decoration: none;
 }

 .font-theme-color.no-decoration:hover{
    text-decoration: none;
    color: #28a745;
 }

 a .font-theme-color:hover {
   color: #28a745;
 }

 .font-theme-family {
    font-family: 'Great Vibes', cursive;
    color: #51ca6d;
 }
 .font-theme-family.lg {
   font-size: 50px;
 }

 .font-theme-family.md {
   font-size: 40px;
 }


/*=====PRODUCTS SECTION=====*/

.nav-custom .nav-link {
  color: #6c757d;
  font-weight: 500;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}
.nav-custom .nav-link:hover {
  color: #51ca6d;
}
.nav-custom .nav-link.active {
  color: #51ca6d;
}

.fancy-line {
  line-height: 0;
  text-align: center;
}
.fancy-line span {
  display: inline-block;
  position: relative;
}
.fancy-line span:before,
.fancy-line span:after {
  content: "";
  position: absolute;
  border: 0.5px solid lightgrey;
  width: 10px;
}
.fancy-line span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy-line span:after {
  left: 100%;
  margin-left: 15px;
}

.nav-custom a:first-child .fancy-line span::before,
.nav-custom a:last-child .fancy-line span::after {
  border: none;
}

.previous-price {
  color:lightgrey;
}

.notify-hot {
    position: absolute;
    transform: translate(-50%, -50%);
    right: 2%;
    top: 12%;
    padding: 11px;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    line-height: 25px;
    background-color: #ff6060;
    color: #fff;
    z-index: 10;
}
.notify-sale {
    position: absolute;
    transform: translate(-50%, -50%);
    right: 2%;
    top: 22%;
    padding: 8px;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    line-height: 30px;
    background-color: #ffc852;
    color: #fff;
    z-index: 9;
}
.notify-out {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    padding: 11px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 50px;
    background-color: #00000080;
    color: #fff;
    z-index: 10;
}

/*====FOOTER====*/

.nav.social-links a:first-child {
  padding-left: 0;
}

.nav.social-links a {
  transition: color 0.3s ease;
}
.nav.social-links a:hover {
  color: #dee2e6 !important;
}



.footer-bottom-copyright {
  background-color:#262a2d;
  color:grey;
}
